<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MR Cheese</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!--SCRIPTS-->
    <script src="node_modules/angular/angular.min.js"></script>

    <!--APP-->
    <script src="./js/app.js"></script>

</head>

<body ng-app="mrCheese">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">MR. Cheese</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header ng-controller="landPageController as vm" class="intro-header">
        <div class="container">
            <div class="intro-message row col-md-12">
                <div class="col-md-6">
                        <h1>MR. Cheese</h1>
                        <h3>Por mais queijos, aqui e agora!{{vm.nome}}</h3>
                        <hr class="intro-divider">    
                </div>    
                <div class="col-md-6">
                    <div class="row form-group col-md-12">
                        <input ng-model="vm.nome" class="form-control" type="text" placeholder="Nome">
                    </div>
                    <div class="row form-group col-md-12">
                        <input ng-model="vm.email" class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="row form-group col-md-12">
                        <button ng-click="vm.cadastrar()" type="button col-md-12" class="btn btn-primary">Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Footer -->
    <footer>
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Home</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#about">About</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#services">Services</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Your Company 2017. All Rights Reserved</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>